@import "variables.scss";

.user-card-container {
    direction: rtl; //change le coté de la scrollbar
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 65%;
    //margin: 20px auto;
    padding: 20px;
    background-color: #1a1a1a;
    border-radius: 10px;
    //box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);

    max-height: 500px;
    overflow: auto;

    .user-card-wrapper {
        border: solid 5px #444;
        &.admin {
            border-color: red;
        }
        
        &.mod {
            border-color: green;
        }
        
        &.user {
            border-color: #444;
        }

        &:hover {
            transform: scale(1.05);
            cursor: pointer;
        }

        transition: transform 0.3s;
        border-radius: 20px;
        width: 200px;
        padding: 10px;

        .user-icon-wrapper {
            text-align: center;
            &.connectedColor {
                svg {
                    color: $white-color;
                }
            }
            &.discconnectedColor {
                svg {
                    color: #444;
                }
            }
        }

        .user-content {
            //pour une raison qui m'échappe, faut inversé ca ici,
            //j'ai du l'inversé autre pars, flemme de chercher
            text-align: end;
            .user-email {
                font-size: 0.7em;
            }
            &>* {
                margin: 15px 0;
            }
            :last-child {
                margin: 15px 0 0 0;
            }
        }
    }
}